In [1]:
import pandas as pd

In [2]:
walk = pd.read_excel('hiwalk.xlsx')
walk.head(10)

  name    星期一    星期二    星期三    星期四    星期五    星期六    星期天
0  黄健超  13936  10505  11520  14151  10175   8089  19832
1  李杰明  15806  16878  14415  15913  11490  17142  14244
2  蔡志刚  11903  10675  13070   9882   6850  10665  12272
3  袁露露  11864  10525  12496  15555   7870   8719   2998
4  朱丽飞  13132  16034   9865  10078  10422  11972  10292
5  王勇博   9223  10018  10090  10003   9486  10302  10194
6  张甜谨   8234  10634  10107  10777  10175  10110  10146
7   张术  10012  10347   6900  10281   7540   4387   4993
8  蒲勇飞  10263   9021  10292  10119  10225   7854   3501

In [3]:
walk['sum'] = walk.sum(axis=1)
walk.head()

  name    星期一    星期二    星期三    星期四    星期五    星期六    星期天     sum
0  黄健超  13936  10505  11520  14151  10175   8089  19832   88208
1  李杰明  15806  16878  14415  15913  11490  17142  14244  105888
2  蔡志刚  11903  10675  13070   9882   6850  10665  12272   75317
3  袁露露  11864  10525  12496  15555   7870   8719   2998   70027
4  朱丽飞  13132  16034   9865  10078  10422  11972  10292   81795

In [4]:
good_days = walk[walk.columns[1:-1]] >= 10000
good_count = good_days.sum(axis=1)

walk['达标'] = good_count
walk.head(10)

  name    星期一    星期二    星期三    星期四    星期五    星期六    星期天     sum  达标
0  黄健超  13936  10505  11520  14151  10175   8089  19832   88208   6
1  李杰明  15806  16878  14415  15913  11490  17142  14244  105888   7
2  蔡志刚  11903  10675  13070   9882   6850  10665  12272   75317   5
3  袁露露  11864  10525  12496  15555   7870   8719   2998   70027   4
4  朱丽飞  13132  16034   9865  10078  10422  11972  10292   81795   6
5  王勇博   9223  10018  10090  10003   9486  10302  10194   69316   5
6  张甜谨   8234  10634  10107  10777  10175  10110  10146   70183   6
7   张术  10012  10347   6900  10281   7540   4387   4993   54460   3
8  蒲勇飞  10263   9021  10292  10119  10225   7854   3501   61275   4

In [5]:
walk = walk.sort_values(by='sum', ascending=False)
walk.head()

  name    星期一    星期二    星期三    星期四    星期五    星期六    星期天     sum  达标
1  李杰明  15806  16878  14415  15913  11490  17142  14244  105888   7
0  黄健超  13936  10505  11520  14151  10175   8089  19832   88208   6
4  朱丽飞  13132  16034   9865  10078  10422  11972  10292   81795   6
2  蔡志刚  11903  10675  13070   9882   6850  10665  12272   75317   5
6  张甜谨   8234  10634  10107  10777  10175  10110  10146   70183   6

In [6]:
walk.shape

(9, 10)

In [7]:
peoples = '\',\''.join(walk.name)
js_str = u'labels: [\'' + peoples + '\']'
print(js_str)

labels: ['李杰明','黄健超','朱丽飞','蔡志刚','张甜谨','袁露露','王勇博','蒲勇飞','张术']

In [8]:
colors = ['red', 'blue', 'green', 'yellow', 'Purple', 'orange', 'gray']

In [9]:
walk_str = u''

for idx, day in enumerate(walk.columns[1:-2]):
    print(day)
    
    day_pd = walk[day]
    walk_num = day_pd.tolist()
    walk_num = str(walk_num)
    print(walk_num)
    walk_str += u'{' + u'label:\'' + day + u'\',backgroundColor: window.chartColors.' + colors[idx] + ',' +'data:' + walk_num + '},'
   
walk_str = walk_str[:-1]
print(walk_str)

星期一
[15806, 13936, 13132, 11903, 8234, 11864, 9223, 10263, 10012]
星期二
[16878, 10505, 16034, 10675, 10634, 10525, 10018, 9021, 10347]
星期三
[14415, 11520, 9865, 13070, 10107, 12496, 10090, 10292, 6900]
星期四
[15913, 14151, 10078, 9882, 10777, 15555, 10003, 10119, 10281]
星期五
[11490, 10175, 10422, 6850, 10175, 7870, 9486, 10225, 7540]
星期六
[17142, 8089, 11972, 10665, 10110, 8719, 10302, 7854, 4387]
星期天
[14244, 19832, 10292, 12272, 10146, 2998, 10194, 3501, 4993]
{label:'星期一',backgroundColor: window.chartColors.red,data:[15806, 13936, 13132, 11903, 8234, 11864, 9223, 10263, 10012]},{label:'星期二',backgroundColor: window.chartColors.blue,data:[16878, 10505, 16034, 10675, 10634, 10525, 10018, 9021, 10347]},{label:'星期三',backgroundColor: window.chartColors.green,data:[14415, 11520, 9865, 13070, 10107, 12496, 10090, 10292, 6900]},{label:'星期四',backgroundColor: window.chartColors.yellow,data:[15913, 14151, 10078, 9882, 10777, 15555, 10003, 10119, 10281]},{label:'星期五',backgroundColor: window.chartColors.Purple,data:[11490, 10175, 10422, 6850, 10175, 7870, 9486, 10225, 7540]},{label:'星期六',backgroundColor: window.chartColors.orange,data:[17142, 8089, 11972, 10665, 10110, 8719, 10302, 7854, 4387]},{label:'星期天',backgroundColor: window.chartColors.gray,data:[14244, 19832, 10292, 12272, 10146, 2998, 10194, 3501, 4993]}

In [10]:
all_str = js_str + u',' + 'datasets:[' + walk_str + ']'
print(all_str)

labels: ['李杰明','黄健超','朱丽飞','蔡志刚','张甜谨','袁露露','王勇博','蒲勇飞','张术'],datasets:[{label:'星期一',backgroundColor: window.chartColors.red,data:[15806, 13936, 13132, 11903, 8234, 11864, 9223, 10263, 10012]},{label:'星期二',backgroundColor: window.chartColors.blue,data:[16878, 10505, 16034, 10675, 10634, 10525, 10018, 9021, 10347]},{label:'星期三',backgroundColor: window.chartColors.green,data:[14415, 11520, 9865, 13070, 10107, 12496, 10090, 10292, 6900]},{label:'星期四',backgroundColor: window.chartColors.yellow,data:[15913, 14151, 10078, 9882, 10777, 15555, 10003, 10119, 10281]},{label:'星期五',backgroundColor: window.chartColors.Purple,data:[11490, 10175, 10422, 6850, 10175, 7870, 9486, 10225, 7540]},{label:'星期六',backgroundColor: window.chartColors.orange,data:[17142, 8089, 11972, 10665, 10110, 8719, 10302, 7854, 4387]},{label:'星期天',backgroundColor: window.chartColors.gray,data:[14244, 19832, 10292, 12272, 10146, 2998, 10194, 3501, 4993]}]

In [11]:
stander_str = u''

stander = walk['达标']
under_stander = walk.shape[1] - stander - 3
stander_str = u''
stander_str += u'{' + u'label:\'达标'  + u'\',backgroundColor: window.chartColors.greed'  + ',' +'data:' + str(stander.tolist())+ '},'
stander_str += u'{' + u'label:\'不达标'  + u'\',backgroundColor: window.chartColors.red'  + ',' +'data:' + str(under_stander.tolist()) + '}'

# print(stander_str)
all_str = js_str + u',' + 'datasets:[' + stander_str + ']'
print(all_str)

labels: ['李杰明','黄健超','朱丽飞','蔡志刚','张甜谨','袁露露','王勇博','蒲勇飞','张术'],datasets:[{label:'达标',backgroundColor: window.chartColors.greed,data:[7, 6, 6, 5, 6, 4, 5, 4, 3]},{label:'不达标',backgroundColor: window.chartColors.red,data:[0, 1, 1, 2, 1, 3, 2, 3, 4]}]